<h1> hello world</h1>

<app-hamburger-menu>
  <app-hamburger-menu-entry icon="tsunami" titleText="tsunami"/>
  <app-hamburger-menu-entry icon="delete_forever"/>
  <app-hamburger-menu-entry icon="clock_loader_10"/>
  <app-hamburger-menu-entry icon="emoji_people"/>
  <app-hamburger-menu-entry icon="tsunami"/>
  <app-hamburger-menu-entry icon="volcano"/>
  <app-hamburger-menu-entry icon="verified"/>
  <app-hamburger-menu-entry icon="bar_chart"/>
  <app-hamburger-menu-entry icon="precision_manufacturing"/>
</app-hamburger-menu>